@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://use.typekit.net/hro4jvn.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
  color: #F93822;
  text-align: center;
  font-family: pacifico, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  // font-family: 'Roboto', sans-serif;
  text-align: center;
  color: Black;
}

#logout-button, #login-button {
  margin-left: auto;
}

.search-button {
  margin-left: 4px;
}

#pinterest-wordmark {
  color:#F93822;
  font-family: pacifico, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
}

#add-button {
  text-align: center;
}

#board-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin: 0;
}

#board-card {
  margin: 1em;
  text-align: center;
}

#pin-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin: 0;
}

#pin-card {
  margin: 1em;
  text-align: center;
}


#user-info {
text-align: center;
}

#user-image {
  height: 75px;
  width: 75px;
  border-radius: 100%;
}
