@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://use.typekit.net/hro4jvn.css");

h1 {
  color: #F93822;
  text-align: center;
  font-family: pacifico, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#logout-button {
  margin-left: auto;
}

#pinterest-wordmark {
  color:#F93822;
  font-family: pacifico, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
}
